:root {
  --mainColor: #f1e3cb;
  --secondaryColor: #f9b384;
  --thirdColor: #ca5116;
  --randomColor: #581c0c;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .navbar-collapse {
  text-align: center;
}
.cart-icon {
  cursor: pointer;
  color: var(--secondaryColor);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.default-background,
.about-background {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 40vh;
}
.btn-yellow {
  color: var(--thirdColor);
  border-color: var(--thirdColor);
}

.footer {
  background: var(--secondaryColor);
}
